/* Reset */
*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: inherit;
	color: inherit;
}

html {
	--tipografia-um: Helvetica, Arial, sans-serif;
	--tipografia-dois: var(--type-second-spectral), Georgia;
}

body {
	margin: 0px;
	padding-top: 4rem;
	font-family: var(--tipografia-um);
	color: #333;
}

h1,
h2,
h3,
h4,
p {
	margin: 0px;
}

a {
	text-decoration: none;
}

ul,
li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	display: block;
}

button,
input {
	font-size: 1rem;
	display: block;
}

.App {
	min-height: calc(100vh + 10rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.AppBody {
	flex: 1;
}

/* Estilos padrões */
.container {
	max-width: 50rem;
	padding: 0px 1rem;
	margin: 0 auto;
}

.mainContainer {
	margin-top: 2rem;
}

.titulo {
	margin: 1rem 0;
	font-family: var(--tipografia-dois);
	font-size: 3rem;
	line-height: 1;
	position: relative;
	z-index: 1;
}

.titulo::after {
	content: '';
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.2rem;
	background: #fb1;
	display: block;
	position: absolute;
	bottom: 5px;
	left: -5px;
	z-index: -1;
}

/* Animações */
.animarEsquerda {
	opacity: 0;
	transform: translateX(-20px);
	animation: animarEsquerda 0.3s forwards;
}

@keyframes animarEsquerda {
	to {
		opacity: 1;
		transform: initial;
	}
}

.VictoryContainer {
	height: initial !important;
}
